# Data Analysis

In [94]:
import pandas as pd
import numpy as np
from pandas import to_timedelta


disbursements = pd.read_pickle("exports/disbursements_clean.pkl")
repayments = pd.read_pickle("exports/repayments_accounts.pkl")

In [95]:
disbursements["due_date"] = disbursements.date + to_timedelta(disbursements.tenure, unit="D")
disbursements

,customer,date,tenure,account,amount,fee,due,due_date
0,91810ca1aa097db79f050f38e9946fa5482b4e28c925e2...,2024-03-19,14,3O66YENWELA6E2H1R9YLX0LDZNOMNHD4,360,43.2,403.2,2024-04-02
1,42ca06e6fe1ff9803e82a5c20184671b54090e488f78d6...,2024-03-19,7,6XWHXKKR1W2HIA8I0V75PZFZBXUUGSVO,70,7.0,77.0,2024-03-26
2,b23747f53af805e18ad16a4ef235b6642d88f9134644ff...,2024-03-19,7,OCGK3RJZ91A999VXD4VB3LATPSME3J5L,3500,350.0,3850.0,2024-03-26
3,1bd32f9b083fc6ddfffd65730fbfa66654fa76a19b0b0e...,2024-03-19,14,9X3Q682DOR7927IMMJLFHBGP0RP7YF5C,3500,420.0,3920.0,2024-04-02
4,e7cfbaa97ba7702c52df5f1dddba54bd26923ebad945f1...,2024-03-19,7,AQH88NNF8S76MGJL4J4ULEAE18O0KLWH,120,12.0,132.0,2024-03-26
...,...,...,...,...,...,...,...,...
26570,b23747f53af805e18ad16a4ef235b6642d88f9134644ff...,2024-04-03,7,8ETPAYW0XG3UIO2RF8IJTBKR87SAM7KE,3500,350.0,3850.0,2024-04-10
26571,9383d85b9a40ec42956bd9f5cb3c5b986a7d1113f9513d...,2024-04-03,14,FWMDBC7C7XDDI1ZODUUTRLRPSVB0WQWP,670,80.4,750.4,2024-04-17
26572,934baee90b08c1cdbbb487577699b96968fdc8ad29065c...,2024-04-03,14,3S4JYCX5V3EAOPHFJG6UF4J2O3TZS1R9,150,18.0,168.0,2024-04-17
26573,ddb2265ddb86bd8242002aecd0c248dce855551beb01d6...,2024-04-03,14,LDP1P2GVJ4Y7WTCLQ97V5SXDIPZAHM3U,150,18.0,168.0,2024-04-17
26574,c2fc4aec21a377e3e03c7f47575097a44fd9724a6dfadc...,2024-04-03,14,O17J6XD4E0GUR7R7GPPAEZ43CL1AC07D,650,78.0,728.0,2024-04-17

In [96]:
#group repayments by account and total amount
agg_repayments = repayments.groupby("account").agg({"amount": "sum"}).reset_index()
agg_repayments

                                account   amount
0      002D75BR3AMGRJKFY0JJ4ZW2V14IM7GZ   313.60
1      002PS9NMP6JZ09RHLGLNIEPOEWDNGSVX  1725.00
2      0033YKW1WEHOYQHDMB4LOV31XGS11YW3  2850.50
3      0039G9PB1R6SN8VAWVVQSSUP8W5LJN0U    78.40
4      003FK1N5LFZWCQJRJX9FT4LHXEQ14KNW   347.20
...                                 ...      ...
24193  ZZCHRDL1Q7C9CNFMGF0JSAKS3DVGHI5A   176.00
24194  ZZIE3QC3DZ1IVU7ZJT33YUH3TTQ3V231   220.00
24195  ZZKP3PN5TE6HADS52L0RFBLAFAJMHHVA   152.00
24196  ZZPJ784EDCEMFJLOGBRPBZE2KR9S6UKC   297.00
24197  ZZQB3N2L92C1PY8LCDRCCYNL1VTIKZW7   818.44

[24198 rows x 2 columns]

Matching loans with their repayments

In [97]:
loan_repayments = pd.merge(disbursements, agg_repayments, left_on="account", right_on="account", how="left")
loan_repayments.rename(columns={"amount_x": "disbursed_amount", "amount_y": "repaid_amount", "due":"amount_due"}, inplace=True)
loan_repayments

,customer,date,tenure,account,disbursed_amount,fee,amount_due,due_date,repaid_amount
0,91810ca1aa097db79f050f38e9946fa5482b4e28c925e2...,2024-03-19,14,3O66YENWELA6E2H1R9YLX0LDZNOMNHD4,360,43.2,403.2,2024-04-02,799.20
1,42ca06e6fe1ff9803e82a5c20184671b54090e488f78d6...,2024-03-19,7,6XWHXKKR1W2HIA8I0V75PZFZBXUUGSVO,70,7.0,77.0,2024-03-26,77.00
2,b23747f53af805e18ad16a4ef235b6642d88f9134644ff...,2024-03-19,7,OCGK3RJZ91A999VXD4VB3LATPSME3J5L,3500,350.0,3850.0,2024-03-26,3930.00
3,1bd32f9b083fc6ddfffd65730fbfa66654fa76a19b0b0e...,2024-03-19,14,9X3Q682DOR7927IMMJLFHBGP0RP7YF5C,3500,420.0,3920.0,2024-04-02,6249.22
4,e7cfbaa97ba7702c52df5f1dddba54bd26923ebad945f1...,2024-03-19,7,AQH88NNF8S76MGJL4J4ULEAE18O0KLWH,120,12.0,132.0,2024-03-26,264.00
...,...,...,...,...,...,...,...,...,...
26537,b23747f53af805e18ad16a4ef235b6642d88f9134644ff...,2024-04-03,7,8ETPAYW0XG3UIO2RF8IJTBKR87SAM7KE,3500,350.0,3850.0,2024-04-10,3850.00
26538,9383d85b9a40ec42956bd9f5cb3c5b986a7d1113f9513d...,2024-04-03,14,FWMDBC7C7XDDI1ZODUUTRLRPSVB0WQWP,670,80.4,750.4,2024-04-17,537.60
26539,934baee90b08c1cdbbb487577699b96968fdc8ad29065c...,2024-04-03,14,3S4JYCX5V3EAOPHFJG6UF4J2O3TZS1R9,150,18.0,168.0,2024-04-17,336.00
26540,ddb2265ddb86bd8242002aecd0c248dce855551beb01d6...,2024-04-03,14,LDP1P2GVJ4Y7WTCLQ97V5SXDIPZAHM3U,150,18.0,168.0,2024-04-17,168.00
26541,c2fc4aec21a377e3e03c7f47575097a44fd9724a6dfadc...,2024-04-03,14,O17J6XD4E0GUR7R7GPPAEZ43CL1AC07D,650,78.0,728.0,2024-04-17,728.00

Assigning the latest payment date to each loan

In [98]:
last_payment_date = repayments.groupby("account").agg({"date": "max"}).reset_index()
loan_repayments = pd.merge(loan_repayments, last_payment_date, left_on="account", right_on="account", how="left")
loan_repayments.rename(columns={"date_x": "disbursement_date", "date_y" : "last_payment_date"}, inplace=True)
loan_repayments

,customer,disbursement_date,tenure,account,disbursed_amount,fee,amount_due,due_date,repaid_amount,last_payment_date
0,91810ca1aa097db79f050f38e9946fa5482b4e28c925e2...,2024-03-19,14,3O66YENWELA6E2H1R9YLX0LDZNOMNHD4,360,43.2,403.2,2024-04-02,799.20,2024-03-30
1,42ca06e6fe1ff9803e82a5c20184671b54090e488f78d6...,2024-03-19,7,6XWHXKKR1W2HIA8I0V75PZFZBXUUGSVO,70,7.0,77.0,2024-03-26,77.00,2024-03-21
2,b23747f53af805e18ad16a4ef235b6642d88f9134644ff...,2024-03-19,7,OCGK3RJZ91A999VXD4VB3LATPSME3J5L,3500,350.0,3850.0,2024-03-26,3930.00,2024-03-26
3,1bd32f9b083fc6ddfffd65730fbfa66654fa76a19b0b0e...,2024-03-19,14,9X3Q682DOR7927IMMJLFHBGP0RP7YF5C,3500,420.0,3920.0,2024-04-02,6249.22,2024-04-16
4,e7cfbaa97ba7702c52df5f1dddba54bd26923ebad945f1...,2024-03-19,7,AQH88NNF8S76MGJL4J4ULEAE18O0KLWH,120,12.0,132.0,2024-03-26,264.00,2024-03-20
...,...,...,...,...,...,...,...,...,...,...
26537,b23747f53af805e18ad16a4ef235b6642d88f9134644ff...,2024-04-03,7,8ETPAYW0XG3UIO2RF8IJTBKR87SAM7KE,3500,350.0,3850.0,2024-04-10,3850.00,2024-04-03
26538,9383d85b9a40ec42956bd9f5cb3c5b986a7d1113f9513d...,2024-04-03,14,FWMDBC7C7XDDI1ZODUUTRLRPSVB0WQWP,670,80.4,750.4,2024-04-17,537.60,2024-04-03
26539,934baee90b08c1cdbbb487577699b96968fdc8ad29065c...,2024-04-03,14,3S4JYCX5V3EAOPHFJG6UF4J2O3TZS1R9,150,18.0,168.0,2024-04-17,336.00,2024-04-10
26540,ddb2265ddb86bd8242002aecd0c248dce855551beb01d6...,2024-04-03,14,LDP1P2GVJ4Y7WTCLQ97V5SXDIPZAHM3U,150,18.0,168.0,2024-04-17,168.00,2024-04-10
26541,c2fc4aec21a377e3e03c7f47575097a44fd9724a6dfadc...,2024-04-03,14,O17J6XD4E0GUR7R7GPPAEZ43CL1AC07D,650,78.0,728.0,2024-04-17,728.00,2024-05-04

Engineering fully repaid column

In [99]:
loan_repayments["fully_repaid"] = loan_repayments.repaid_amount >= loan_repayments.disbursed_amount
loan_repayments

,customer,disbursement_date,tenure,account,disbursed_amount,fee,amount_due,due_date,repaid_amount,last_payment_date,fully_repaid
0,91810ca1aa097db79f050f38e9946fa5482b4e28c925e2...,2024-03-19,14,3O66YENWELA6E2H1R9YLX0LDZNOMNHD4,360,43.2,403.2,2024-04-02,799.20,2024-03-30,True
1,42ca06e6fe1ff9803e82a5c20184671b54090e488f78d6...,2024-03-19,7,6XWHXKKR1W2HIA8I0V75PZFZBXUUGSVO,70,7.0,77.0,2024-03-26,77.00,2024-03-21,True
2,b23747f53af805e18ad16a4ef235b6642d88f9134644ff...,2024-03-19,7,OCGK3RJZ91A999VXD4VB3LATPSME3J5L,3500,350.0,3850.0,2024-03-26,3930.00,2024-03-26,True
3,1bd32f9b083fc6ddfffd65730fbfa66654fa76a19b0b0e...,2024-03-19,14,9X3Q682DOR7927IMMJLFHBGP0RP7YF5C,3500,420.0,3920.0,2024-04-02,6249.22,2024-04-16,True
4,e7cfbaa97ba7702c52df5f1dddba54bd26923ebad945f1...,2024-03-19,7,AQH88NNF8S76MGJL4J4ULEAE18O0KLWH,120,12.0,132.0,2024-03-26,264.00,2024-03-20,True
...,...,...,...,...,...,...,...,...,...,...,...
26537,b23747f53af805e18ad16a4ef235b6642d88f9134644ff...,2024-04-03,7,8ETPAYW0XG3UIO2RF8IJTBKR87SAM7KE,3500,350.0,3850.0,2024-04-10,3850.00,2024-04-03,True
26538,9383d85b9a40ec42956bd9f5cb3c5b986a7d1113f9513d...,2024-04-03,14,FWMDBC7C7XDDI1ZODUUTRLRPSVB0WQWP,670,80.4,750.4,2024-04-17,537.60,2024-04-03,False
26539,934baee90b08c1cdbbb487577699b96968fdc8ad29065c...,2024-04-03,14,3S4JYCX5V3EAOPHFJG6UF4J2O3TZS1R9,150,18.0,168.0,2024-04-17,336.00,2024-04-10,True
26540,ddb2265ddb86bd8242002aecd0c248dce855551beb01d6...,2024-04-03,14,LDP1P2GVJ4Y7WTCLQ97V5SXDIPZAHM3U,150,18.0,168.0,2024-04-17,168.00,2024-04-10,True
26541,c2fc4aec21a377e3e03c7f47575097a44fd9724a6dfadc...,2024-04-03,14,O17J6XD4E0GUR7R7GPPAEZ43CL1AC07D,650,78.0,728.0,2024-04-17,728.00,2024-05-04,True

Engineering outstanding amount column. Some loans overpaid, so limited to 0

In [100]:
loan_repayments["outstanding_amount"] = loan_repayments.disbursed_amount - loan_repayments.repaid_amount
loan_repayments["outstanding_amount"] = loan_repayments["outstanding_amount"].clip(lower=0)
loan_repayments

,customer,disbursement_date,tenure,account,disbursed_amount,fee,amount_due,due_date,repaid_amount,last_payment_date,fully_repaid,outstanding_amount
0,91810ca1aa097db79f050f38e9946fa5482b4e28c925e2...,2024-03-19,14,3O66YENWELA6E2H1R9YLX0LDZNOMNHD4,360,43.2,403.2,2024-04-02,799.20,2024-03-30,True,0.0
1,42ca06e6fe1ff9803e82a5c20184671b54090e488f78d6...,2024-03-19,7,6XWHXKKR1W2HIA8I0V75PZFZBXUUGSVO,70,7.0,77.0,2024-03-26,77.00,2024-03-21,True,0.0
2,b23747f53af805e18ad16a4ef235b6642d88f9134644ff...,2024-03-19,7,OCGK3RJZ91A999VXD4VB3LATPSME3J5L,3500,350.0,3850.0,2024-03-26,3930.00,2024-03-26,True,0.0
3,1bd32f9b083fc6ddfffd65730fbfa66654fa76a19b0b0e...,2024-03-19,14,9X3Q682DOR7927IMMJLFHBGP0RP7YF5C,3500,420.0,3920.0,2024-04-02,6249.22,2024-04-16,True,0.0
4,e7cfbaa97ba7702c52df5f1dddba54bd26923ebad945f1...,2024-03-19,7,AQH88NNF8S76MGJL4J4ULEAE18O0KLWH,120,12.0,132.0,2024-03-26,264.00,2024-03-20,True,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
26537,b23747f53af805e18ad16a4ef235b6642d88f9134644ff...,2024-04-03,7,8ETPAYW0XG3UIO2RF8IJTBKR87SAM7KE,3500,350.0,3850.0,2024-04-10,3850.00,2024-04-03,True,0.0
26538,9383d85b9a40ec42956bd9f5cb3c5b986a7d1113f9513d...,2024-04-03,14,FWMDBC7C7XDDI1ZODUUTRLRPSVB0WQWP,670,80.4,750.4,2024-04-17,537.60,2024-04-03,False,132.4
26539,934baee90b08c1cdbbb487577699b96968fdc8ad29065c...,2024-04-03,14,3S4JYCX5V3EAOPHFJG6UF4J2O3TZS1R9,150,18.0,168.0,2024-04-17,336.00,2024-04-10,True,0.0
26540,ddb2265ddb86bd8242002aecd0c248dce855551beb01d6...,2024-04-03,14,LDP1P2GVJ4Y7WTCLQ97V5SXDIPZAHM3U,150,18.0,168.0,2024-04-17,168.00,2024-04-10,True,0.0
26541,c2fc4aec21a377e3e03c7f47575097a44fd9724a6dfadc...,2024-04-03,14,O17J6XD4E0GUR7R7GPPAEZ43CL1AC07D,650,78.0,728.0,2024-04-17,728.00,2024-05-04,True,0.0

In [101]:
loan_repayments["repaid_late"] = loan_repayments.last_payment_date > loan_repayments.due_date
loan_repayments

,customer,disbursement_date,tenure,account,disbursed_amount,fee,amount_due,due_date,repaid_amount,last_payment_date,fully_repaid,outstanding_amount,repaid_late
0,91810ca1aa097db79f050f38e9946fa5482b4e28c925e2...,2024-03-19,14,3O66YENWELA6E2H1R9YLX0LDZNOMNHD4,360,43.2,403.2,2024-04-02,799.20,2024-03-30,True,0.0,False
1,42ca06e6fe1ff9803e82a5c20184671b54090e488f78d6...,2024-03-19,7,6XWHXKKR1W2HIA8I0V75PZFZBXUUGSVO,70,7.0,77.0,2024-03-26,77.00,2024-03-21,True,0.0,False
2,b23747f53af805e18ad16a4ef235b6642d88f9134644ff...,2024-03-19,7,OCGK3RJZ91A999VXD4VB3LATPSME3J5L,3500,350.0,3850.0,2024-03-26,3930.00,2024-03-26,True,0.0,False
3,1bd32f9b083fc6ddfffd65730fbfa66654fa76a19b0b0e...,2024-03-19,14,9X3Q682DOR7927IMMJLFHBGP0RP7YF5C,3500,420.0,3920.0,2024-04-02,6249.22,2024-04-16,True,0.0,True
4,e7cfbaa97ba7702c52df5f1dddba54bd26923ebad945f1...,2024-03-19,7,AQH88NNF8S76MGJL4J4ULEAE18O0KLWH,120,12.0,132.0,2024-03-26,264.00,2024-03-20,True,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26537,b23747f53af805e18ad16a4ef235b6642d88f9134644ff...,2024-04-03,7,8ETPAYW0XG3UIO2RF8IJTBKR87SAM7KE,3500,350.0,3850.0,2024-04-10,3850.00,2024-04-03,True,0.0,False
26538,9383d85b9a40ec42956bd9f5cb3c5b986a7d1113f9513d...,2024-04-03,14,FWMDBC7C7XDDI1ZODUUTRLRPSVB0WQWP,670,80.4,750.4,2024-04-17,537.60,2024-04-03,False,132.4,False
26539,934baee90b08c1cdbbb487577699b96968fdc8ad29065c...,2024-04-03,14,3S4JYCX5V3EAOPHFJG6UF4J2O3TZS1R9,150,18.0,168.0,2024-04-17,336.00,2024-04-10,True,0.0,False
26540,ddb2265ddb86bd8242002aecd0c248dce855551beb01d6...,2024-04-03,14,LDP1P2GVJ4Y7WTCLQ97V5SXDIPZAHM3U,150,18.0,168.0,2024-04-17,168.00,2024-04-10,True,0.0,False
26541,c2fc4aec21a377e3e03c7f47575097a44fd9724a6dfadc...,2024-04-03,14,O17J6XD4E0GUR7R7GPPAEZ43CL1AC07D,650,78.0,728.0,2024-04-17,728.00,2024-05-04,True,0.0,True

### Engineering columns for easier analysis

In [102]:
loan_repayments["effective_interest_rate"] = (loan_repayments["fee"] / loan_repayments["disbursed_amount"]) * (365 / loan_repayments["tenure"])
loan_repayments

,customer,disbursement_date,tenure,account,disbursed_amount,fee,amount_due,due_date,repaid_amount,last_payment_date,fully_repaid,outstanding_amount,repaid_late,effective_interest_rate
0,91810ca1aa097db79f050f38e9946fa5482b4e28c925e2...,2024-03-19,14,3O66YENWELA6E2H1R9YLX0LDZNOMNHD4,360,43.2,403.2,2024-04-02,799.20,2024-03-30,True,0.0,False,3.128571
1,42ca06e6fe1ff9803e82a5c20184671b54090e488f78d6...,2024-03-19,7,6XWHXKKR1W2HIA8I0V75PZFZBXUUGSVO,70,7.0,77.0,2024-03-26,77.00,2024-03-21,True,0.0,False,5.214286
2,b23747f53af805e18ad16a4ef235b6642d88f9134644ff...,2024-03-19,7,OCGK3RJZ91A999VXD4VB3LATPSME3J5L,3500,350.0,3850.0,2024-03-26,3930.00,2024-03-26,True,0.0,False,5.214286
3,1bd32f9b083fc6ddfffd65730fbfa66654fa76a19b0b0e...,2024-03-19,14,9X3Q682DOR7927IMMJLFHBGP0RP7YF5C,3500,420.0,3920.0,2024-04-02,6249.22,2024-04-16,True,0.0,True,3.128571
4,e7cfbaa97ba7702c52df5f1dddba54bd26923ebad945f1...,2024-03-19,7,AQH88NNF8S76MGJL4J4ULEAE18O0KLWH,120,12.0,132.0,2024-03-26,264.00,2024-03-20,True,0.0,False,5.214286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26537,b23747f53af805e18ad16a4ef235b6642d88f9134644ff...,2024-04-03,7,8ETPAYW0XG3UIO2RF8IJTBKR87SAM7KE,3500,350.0,3850.0,2024-04-10,3850.00,2024-04-03,True,0.0,False,5.214286
26538,9383d85b9a40ec42956bd9f5cb3c5b986a7d1113f9513d...,2024-04-03,14,FWMDBC7C7XDDI1ZODUUTRLRPSVB0WQWP,670,80.4,750.4,2024-04-17,537.60,2024-04-03,False,132.4,False,3.128571
26539,934baee90b08c1cdbbb487577699b96968fdc8ad29065c...,2024-04-03,14,3S4JYCX5V3EAOPHFJG6UF4J2O3TZS1R9,150,18.0,168.0,2024-04-17,336.00,2024-04-10,True,0.0,False,3.128571
26540,ddb2265ddb86bd8242002aecd0c248dce855551beb01d6...,2024-04-03,14,LDP1P2GVJ4Y7WTCLQ97V5SXDIPZAHM3U,150,18.0,168.0,2024-04-17,168.00,2024-04-10,True,0.0,False,3.128571
26541,c2fc4aec21a377e3e03c7f47575097a44fd9724a6dfadc...,2024-04-03,14,O17J6XD4E0GUR7R7GPPAEZ43CL1AC07D,650,78.0,728.0,2024-04-17,728.00,2024-05-04,True,0.0,True,3.128571

In [103]:
num_payments = repayments.groupby("account")["date"].count().reset_index(name="num_payments")
loan_repayments = loan_repayments.merge(num_payments, on="account", how="left")
loan_repayments

,customer,disbursement_date,tenure,account,disbursed_amount,fee,amount_due,due_date,repaid_amount,last_payment_date,fully_repaid,outstanding_amount,repaid_late,effective_interest_rate,num_payments
0,91810ca1aa097db79f050f38e9946fa5482b4e28c925e2...,2024-03-19,14,3O66YENWELA6E2H1R9YLX0LDZNOMNHD4,360,43.2,403.2,2024-04-02,799.20,2024-03-30,True,0.0,False,3.128571,2.0
1,42ca06e6fe1ff9803e82a5c20184671b54090e488f78d6...,2024-03-19,7,6XWHXKKR1W2HIA8I0V75PZFZBXUUGSVO,70,7.0,77.0,2024-03-26,77.00,2024-03-21,True,0.0,False,5.214286,1.0
2,b23747f53af805e18ad16a4ef235b6642d88f9134644ff...,2024-03-19,7,OCGK3RJZ91A999VXD4VB3LATPSME3J5L,3500,350.0,3850.0,2024-03-26,3930.00,2024-03-26,True,0.0,False,5.214286,4.0
3,1bd32f9b083fc6ddfffd65730fbfa66654fa76a19b0b0e...,2024-03-19,14,9X3Q682DOR7927IMMJLFHBGP0RP7YF5C,3500,420.0,3920.0,2024-04-02,6249.22,2024-04-16,True,0.0,True,3.128571,10.0
4,e7cfbaa97ba7702c52df5f1dddba54bd26923ebad945f1...,2024-03-19,7,AQH88NNF8S76MGJL4J4ULEAE18O0KLWH,120,12.0,132.0,2024-03-26,264.00,2024-03-20,True,0.0,False,5.214286,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26537,b23747f53af805e18ad16a4ef235b6642d88f9134644ff...,2024-04-03,7,8ETPAYW0XG3UIO2RF8IJTBKR87SAM7KE,3500,350.0,3850.0,2024-04-10,3850.00,2024-04-03,True,0.0,False,5.214286,4.0
26538,9383d85b9a40ec42956bd9f5cb3c5b986a7d1113f9513d...,2024-04-03,14,FWMDBC7C7XDDI1ZODUUTRLRPSVB0WQWP,670,80.4,750.4,2024-04-17,537.60,2024-04-03,False,132.4,False,3.128571,1.0
26539,934baee90b08c1cdbbb487577699b96968fdc8ad29065c...,2024-04-03,14,3S4JYCX5V3EAOPHFJG6UF4J2O3TZS1R9,150,18.0,168.0,2024-04-17,336.00,2024-04-10,True,0.0,False,3.128571,2.0
26540,ddb2265ddb86bd8242002aecd0c248dce855551beb01d6...,2024-04-03,14,LDP1P2GVJ4Y7WTCLQ97V5SXDIPZAHM3U,150,18.0,168.0,2024-04-17,168.00,2024-04-10,True,0.0,False,3.128571,1.0
26541,c2fc4aec21a377e3e03c7f47575097a44fd9724a6dfadc...,2024-04-03,14,O17J6XD4E0GUR7R7GPPAEZ43CL1AC07D,650,78.0,728.0,2024-04-17,728.00,2024-05-04,True,0.0,True,3.128571,5.0

In [104]:
loan_repayments["days_late"] = (loan_repayments["last_payment_date"] - loan_repayments["due_date"]).dt.days.clip(lower=0)
loan_repayments

,customer,disbursement_date,tenure,account,disbursed_amount,fee,amount_due,due_date,repaid_amount,last_payment_date,fully_repaid,outstanding_amount,repaid_late,effective_interest_rate,num_payments,days_late
0,91810ca1aa097db79f050f38e9946fa5482b4e28c925e2...,2024-03-19,14,3O66YENWELA6E2H1R9YLX0LDZNOMNHD4,360,43.2,403.2,2024-04-02,799.20,2024-03-30,True,0.0,False,3.128571,2.0,0.0
1,42ca06e6fe1ff9803e82a5c20184671b54090e488f78d6...,2024-03-19,7,6XWHXKKR1W2HIA8I0V75PZFZBXUUGSVO,70,7.0,77.0,2024-03-26,77.00,2024-03-21,True,0.0,False,5.214286,1.0,0.0
2,b23747f53af805e18ad16a4ef235b6642d88f9134644ff...,2024-03-19,7,OCGK3RJZ91A999VXD4VB3LATPSME3J5L,3500,350.0,3850.0,2024-03-26,3930.00,2024-03-26,True,0.0,False,5.214286,4.0,0.0
3,1bd32f9b083fc6ddfffd65730fbfa66654fa76a19b0b0e...,2024-03-19,14,9X3Q682DOR7927IMMJLFHBGP0RP7YF5C,3500,420.0,3920.0,2024-04-02,6249.22,2024-04-16,True,0.0,True,3.128571,10.0,14.0
4,e7cfbaa97ba7702c52df5f1dddba54bd26923ebad945f1...,2024-03-19,7,AQH88NNF8S76MGJL4J4ULEAE18O0KLWH,120,12.0,132.0,2024-03-26,264.00,2024-03-20,True,0.0,False,5.214286,4.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26537,b23747f53af805e18ad16a4ef235b6642d88f9134644ff...,2024-04-03,7,8ETPAYW0XG3UIO2RF8IJTBKR87SAM7KE,3500,350.0,3850.0,2024-04-10,3850.00,2024-04-03,True,0.0,False,5.214286,4.0,0.0
26538,9383d85b9a40ec42956bd9f5cb3c5b986a7d1113f9513d...,2024-04-03,14,FWMDBC7C7XDDI1ZODUUTRLRPSVB0WQWP,670,80.4,750.4,2024-04-17,537.60,2024-04-03,False,132.4,False,3.128571,1.0,0.0
26539,934baee90b08c1cdbbb487577699b96968fdc8ad29065c...,2024-04-03,14,3S4JYCX5V3EAOPHFJG6UF4J2O3TZS1R9,150,18.0,168.0,2024-04-17,336.00,2024-04-10,True,0.0,False,3.128571,2.0,0.0
26540,ddb2265ddb86bd8242002aecd0c248dce855551beb01d6...,2024-04-03,14,LDP1P2GVJ4Y7WTCLQ97V5SXDIPZAHM3U,150,18.0,168.0,2024-04-17,168.00,2024-04-10,True,0.0,False,3.128571,1.0,0.0
26541,c2fc4aec21a377e3e03c7f47575097a44fd9724a6dfadc...,2024-04-03,14,O17J6XD4E0GUR7R7GPPAEZ43CL1AC07D,650,78.0,728.0,2024-04-17,728.00,2024-05-04,True,0.0,True,3.128571,5.0,17.0

In [105]:
latest_date = loan_repayments["disbursement_date"].max()
loan_repayments["overdue"] = (loan_repayments["due_date"] < latest_date) & (~loan_repayments["fully_repaid"])
loan_repayments

,customer,disbursement_date,tenure,account,disbursed_amount,fee,amount_due,due_date,repaid_amount,last_payment_date,fully_repaid,outstanding_amount,repaid_late,effective_interest_rate,num_payments,days_late,overdue
0,91810ca1aa097db79f050f38e9946fa5482b4e28c925e2...,2024-03-19,14,3O66YENWELA6E2H1R9YLX0LDZNOMNHD4,360,43.2,403.2,2024-04-02,799.20,2024-03-30,True,0.0,False,3.128571,2.0,0.0,False
1,42ca06e6fe1ff9803e82a5c20184671b54090e488f78d6...,2024-03-19,7,6XWHXKKR1W2HIA8I0V75PZFZBXUUGSVO,70,7.0,77.0,2024-03-26,77.00,2024-03-21,True,0.0,False,5.214286,1.0,0.0,False
2,b23747f53af805e18ad16a4ef235b6642d88f9134644ff...,2024-03-19,7,OCGK3RJZ91A999VXD4VB3LATPSME3J5L,3500,350.0,3850.0,2024-03-26,3930.00,2024-03-26,True,0.0,False,5.214286,4.0,0.0,False
3,1bd32f9b083fc6ddfffd65730fbfa66654fa76a19b0b0e...,2024-03-19,14,9X3Q682DOR7927IMMJLFHBGP0RP7YF5C,3500,420.0,3920.0,2024-04-02,6249.22,2024-04-16,True,0.0,True,3.128571,10.0,14.0,False
4,e7cfbaa97ba7702c52df5f1dddba54bd26923ebad945f1...,2024-03-19,7,AQH88NNF8S76MGJL4J4ULEAE18O0KLWH,120,12.0,132.0,2024-03-26,264.00,2024-03-20,True,0.0,False,5.214286,4.0,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26537,b23747f53af805e18ad16a4ef235b6642d88f9134644ff...,2024-04-03,7,8ETPAYW0XG3UIO2RF8IJTBKR87SAM7KE,3500,350.0,3850.0,2024-04-10,3850.00,2024-04-03,True,0.0,False,5.214286,4.0,0.0,False
26538,9383d85b9a40ec42956bd9f5cb3c5b986a7d1113f9513d...,2024-04-03,14,FWMDBC7C7XDDI1ZODUUTRLRPSVB0WQWP,670,80.4,750.4,2024-04-17,537.60,2024-04-03,False,132.4,False,3.128571,1.0,0.0,True
26539,934baee90b08c1cdbbb487577699b96968fdc8ad29065c...,2024-04-03,14,3S4JYCX5V3EAOPHFJG6UF4J2O3TZS1R9,150,18.0,168.0,2024-04-17,336.00,2024-04-10,True,0.0,False,3.128571,2.0,0.0,False
26540,ddb2265ddb86bd8242002aecd0c248dce855551beb01d6...,2024-04-03,14,LDP1P2GVJ4Y7WTCLQ97V5SXDIPZAHM3U,150,18.0,168.0,2024-04-17,168.00,2024-04-10,True,0.0,False,3.128571,1.0,0.0,False
26541,c2fc4aec21a377e3e03c7f47575097a44fd9724a6dfadc...,2024-04-03,14,O17J6XD4E0GUR7R7GPPAEZ43CL1AC07D,650,78.0,728.0,2024-04-17,728.00,2024-05-04,True,0.0,True,3.128571,5.0,17.0,False

In [106]:
loan_repayments["active"] = (~loan_repayments.fully_repaid) & (~loan_repayments.overdue)
loan_repayments

,customer,disbursement_date,tenure,account,disbursed_amount,fee,amount_due,due_date,repaid_amount,last_payment_date,fully_repaid,outstanding_amount,repaid_late,effective_interest_rate,num_payments,days_late,overdue,active
0,91810ca1aa097db79f050f38e9946fa5482b4e28c925e2...,2024-03-19,14,3O66YENWELA6E2H1R9YLX0LDZNOMNHD4,360,43.2,403.2,2024-04-02,799.20,2024-03-30,True,0.0,False,3.128571,2.0,0.0,False,False
1,42ca06e6fe1ff9803e82a5c20184671b54090e488f78d6...,2024-03-19,7,6XWHXKKR1W2HIA8I0V75PZFZBXUUGSVO,70,7.0,77.0,2024-03-26,77.00,2024-03-21,True,0.0,False,5.214286,1.0,0.0,False,False
2,b23747f53af805e18ad16a4ef235b6642d88f9134644ff...,2024-03-19,7,OCGK3RJZ91A999VXD4VB3LATPSME3J5L,3500,350.0,3850.0,2024-03-26,3930.00,2024-03-26,True,0.0,False,5.214286,4.0,0.0,False,False
3,1bd32f9b083fc6ddfffd65730fbfa66654fa76a19b0b0e...,2024-03-19,14,9X3Q682DOR7927IMMJLFHBGP0RP7YF5C,3500,420.0,3920.0,2024-04-02,6249.22,2024-04-16,True,0.0,True,3.128571,10.0,14.0,False,False
4,e7cfbaa97ba7702c52df5f1dddba54bd26923ebad945f1...,2024-03-19,7,AQH88NNF8S76MGJL4J4ULEAE18O0KLWH,120,12.0,132.0,2024-03-26,264.00,2024-03-20,True,0.0,False,5.214286,4.0,0.0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26537,b23747f53af805e18ad16a4ef235b6642d88f9134644ff...,2024-04-03,7,8ETPAYW0XG3UIO2RF8IJTBKR87SAM7KE,3500,350.0,3850.0,2024-04-10,3850.00,2024-04-03,True,0.0,False,5.214286,4.0,0.0,False,False
26538,9383d85b9a40ec42956bd9f5cb3c5b986a7d1113f9513d...,2024-04-03,14,FWMDBC7C7XDDI1ZODUUTRLRPSVB0WQWP,670,80.4,750.4,2024-04-17,537.60,2024-04-03,False,132.4,False,3.128571,1.0,0.0,True,False
26539,934baee90b08c1cdbbb487577699b96968fdc8ad29065c...,2024-04-03,14,3S4JYCX5V3EAOPHFJG6UF4J2O3TZS1R9,150,18.0,168.0,2024-04-17,336.00,2024-04-10,True,0.0,False,3.128571,2.0,0.0,False,False
26540,ddb2265ddb86bd8242002aecd0c248dce855551beb01d6...,2024-04-03,14,LDP1P2GVJ4Y7WTCLQ97V5SXDIPZAHM3U,150,18.0,168.0,2024-04-17,168.00,2024-04-10,True,0.0,False,3.128571,1.0,0.0,False,False
26541,c2fc4aec21a377e3e03c7f47575097a44fd9724a6dfadc...,2024-04-03,14,O17J6XD4E0GUR7R7GPPAEZ43CL1AC07D,650,78.0,728.0,2024-04-17,728.00,2024-05-04,True,0.0,True,3.128571,5.0,17.0,False,False

In [107]:
conditions = [
    loan_repayments["active"],
    loan_repayments["overdue"],
    loan_repayments["fully_repaid"]
]
choices = ["active", "overdue", "repaid"]

loan_repayments["status"] = np.select(conditions, choices, default="unknown")
loan_repayments

,customer,disbursement_date,tenure,account,disbursed_amount,fee,amount_due,due_date,repaid_amount,last_payment_date,fully_repaid,outstanding_amount,repaid_late,effective_interest_rate,num_payments,days_late,overdue,active,status
0,91810ca1aa097db79f050f38e9946fa5482b4e28c925e2...,2024-03-19,14,3O66YENWELA6E2H1R9YLX0LDZNOMNHD4,360,43.2,403.2,2024-04-02,799.20,2024-03-30,True,0.0,False,3.128571,2.0,0.0,False,False,repaid
1,42ca06e6fe1ff9803e82a5c20184671b54090e488f78d6...,2024-03-19,7,6XWHXKKR1W2HIA8I0V75PZFZBXUUGSVO,70,7.0,77.0,2024-03-26,77.00,2024-03-21,True,0.0,False,5.214286,1.0,0.0,False,False,repaid
2,b23747f53af805e18ad16a4ef235b6642d88f9134644ff...,2024-03-19,7,OCGK3RJZ91A999VXD4VB3LATPSME3J5L,3500,350.0,3850.0,2024-03-26,3930.00,2024-03-26,True,0.0,False,5.214286,4.0,0.0,False,False,repaid
3,1bd32f9b083fc6ddfffd65730fbfa66654fa76a19b0b0e...,2024-03-19,14,9X3Q682DOR7927IMMJLFHBGP0RP7YF5C,3500,420.0,3920.0,2024-04-02,6249.22,2024-04-16,True,0.0,True,3.128571,10.0,14.0,False,False,repaid
4,e7cfbaa97ba7702c52df5f1dddba54bd26923ebad945f1...,2024-03-19,7,AQH88NNF8S76MGJL4J4ULEAE18O0KLWH,120,12.0,132.0,2024-03-26,264.00,2024-03-20,True,0.0,False,5.214286,4.0,0.0,False,False,repaid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26537,b23747f53af805e18ad16a4ef235b6642d88f9134644ff...,2024-04-03,7,8ETPAYW0XG3UIO2RF8IJTBKR87SAM7KE,3500,350.0,3850.0,2024-04-10,3850.00,2024-04-03,True,0.0,False,5.214286,4.0,0.0,False,False,repaid
26538,9383d85b9a40ec42956bd9f5cb3c5b986a7d1113f9513d...,2024-04-03,14,FWMDBC7C7XDDI1ZODUUTRLRPSVB0WQWP,670,80.4,750.4,2024-04-17,537.60,2024-04-03,False,132.4,False,3.128571,1.0,0.0,True,False,overdue
26539,934baee90b08c1cdbbb487577699b96968fdc8ad29065c...,2024-04-03,14,3S4JYCX5V3EAOPHFJG6UF4J2O3TZS1R9,150,18.0,168.0,2024-04-17,336.00,2024-04-10,True,0.0,False,3.128571,2.0,0.0,False,False,repaid
26540,ddb2265ddb86bd8242002aecd0c248dce855551beb01d6...,2024-04-03,14,LDP1P2GVJ4Y7WTCLQ97V5SXDIPZAHM3U,150,18.0,168.0,2024-04-17,168.00,2024-04-10,True,0.0,False,3.128571,1.0,0.0,False,False,repaid
26541,c2fc4aec21a377e3e03c7f47575097a44fd9724a6dfadc...,2024-04-03,14,O17J6XD4E0GUR7R7GPPAEZ43CL1AC07D,650,78.0,728.0,2024-04-17,728.00,2024-05-04,True,0.0,True,3.128571,5.0,17.0,False,False,repaid

In [108]:
loan_repayments.to_pickle("exports/loan_repayments.pkl")
loan_repayments.to_csv("exports/loan_repayments.csv", index=False)

In [109]:
monthly_summary =loan_repayments.copy()
monthly_summary["month"] = monthly_summary["disbursement_date"].dt.to_period("M")
monthly_summary = monthly_summary.groupby("month")[["disbursed_amount", "repaid_amount", "outstanding_amount", "fee"]].sum()
monthly_summary

         disbursed_amount  repaid_amount  outstanding_amount        fee
month
2024-01           3177425     3447038.03           225955.32  408214.15
2024-02           3428115     3681774.94           282469.00  441839.39
2024-03           3932061     4321185.40           337732.71  508393.51
2024-04           3933810     4211354.57           336212.34  506246.10
2024-05           4014139     4513926.31           313075.71  521073.95
2024-06           3505498     3867454.18           321869.14  455613.62
2024-07           3393428     4060829.90           290205.65  443747.00
2024-08           1205058     1287463.80           117901.95  160061.04

In [110]:
monthly_summary.index = monthly_summary.index.to_timestamp()
monthly_summary['revenue_change'] = monthly_summary['repaid_amount'].pct_change()
monthly_summary['disbursement_change'] = monthly_summary['disbursed_amount'].pct_change()
monthly_summary = monthly_summary.dropna()
monthly_summary = monthly_summary.loc[monthly_summary.index.month != 8]
monthly_summary

,disbursed_amount,repaid_amount,outstanding_amount,fee,revenue_change,disbursement_change
month,,,,,,
2024-02-01,3428115,3681774.94,282469.00,441839.39,0.068098,0.078897
2024-03-01,3932061,4321185.40,337732.71,508393.51,0.173669,0.147004
2024-04-01,3933810,4211354.57,336212.34,506246.10,-0.025417,0.000445
2024-05-01,4014139,4513926.31,313075.71,521073.95,0.071847,0.020420
2024-06-01,3505498,3867454.18,321869.14,455613.62,-0.143217,-0.126712
2024-07-01,3393428,4060829.90,290205.65,443747.00,0.050001,-0.031970

Forcating disbursements and repayments for the following 3 months. July used as a bas as August data is not for the whole month.

In [111]:
last_revenue = monthly_summary['repaid_amount'].iloc[-1]
avg_growth_rate = monthly_summary['revenue_change'].mean()

# Forecast next 3 months
forecast_months = 3
forecast = [last_revenue * ((1 + avg_growth_rate) ** i) for i in range(1, forecast_months + 1)]
#round all forecasts to decimal places
forecast = [round(i, 2) for i in forecast]
forecast

[4192793.73, 4329045.95, 4469725.93]

In [112]:
last_disbursement = monthly_summary["disbursed_amount"].iloc[-1]
avg_growth_rate = monthly_summary["disbursement_change"].mean()
disbursement_forecast = [last_disbursement * ((1 + avg_growth_rate) ** i) for i in range(1, forecast_months+1)]
disbursement_forecast = [round(i,2) for i in disbursement_forecast]
disbursement_forecast

[3443245.71, 3493794.77, 3545085.93]

In [113]:
future_months = pd.date_range(start=monthly_summary.index[-1] + pd.DateOffset(months=1), periods=forecast_months, freq='M')
forecast_df = pd.DataFrame({'month': future_months, 'repaid_amount': forecast, 'disbursed_amount' : disbursement_forecast})
monthly_summary = pd.concat([monthly_summary, forecast_df.set_index('month')])
monthly_summary

,disbursed_amount,repaid_amount,outstanding_amount,fee,revenue_change,disbursement_change
month,,,,,,
2024-02-01,3428115.00,3681774.94,282469.00,441839.39,0.068098,0.078897
2024-03-01,3932061.00,4321185.40,337732.71,508393.51,0.173669,0.147004
2024-04-01,3933810.00,4211354.57,336212.34,506246.10,-0.025417,0.000445
2024-05-01,4014139.00,4513926.31,313075.71,521073.95,0.071847,0.020420
2024-06-01,3505498.00,3867454.18,321869.14,455613.62,-0.143217,-0.126712
2024-07-01,3393428.00,4060829.90,290205.65,443747.00,0.050001,-0.031970
2024-08-31,3443245.71,4192793.73,NaN,NaN,NaN,NaN
2024-09-30,3493794.77,4329045.95,NaN,NaN,NaN,NaN
2024-10-31,3545085.93,4469725.93,NaN,NaN,NaN,NaN

In [114]:
monthly_summary.to_csv("exports/monthly_summary.csv")