## Import Libraries

In [3]:
import pandas as pd

In [5]:
file_path = "BI_Analyst_Case_Study_Data.xlsx"
disbursements_df = pd.read_excel(file_path, sheet_name="Disbursements")
repayments_df = pd.read_excel(file_path, sheet_name="Repayments")

In [6]:
disbursements_df.head()

,customer_id,disb_date,tenure,account_num,loan_amount,loan_fee
0,91810ca1aa097db79f050f38e9946fa5482b4e28c925e2...,2024-03-19,14 days,3O66YENWELA6E2H1R9YLX0LDZNOMNHD4,360,43.2
1,42ca06e6fe1ff9803e82a5c20184671b54090e488f78d6...,2024-03-19,7 days,6XWHXKKR1W2HIA8I0V75PZFZBXUUGSVO,70,7.0
2,b23747f53af805e18ad16a4ef235b6642d88f9134644ff...,2024-03-19,7 days,OCGK3RJZ91A999VXD4VB3LATPSME3J5L,3500,350.0
3,1bd32f9b083fc6ddfffd65730fbfa66654fa76a19b0b0e...,2024-03-19,14 days,9X3Q682DOR7927IMMJLFHBGP0RP7YF5C,3500,420.0
4,e7cfbaa97ba7702c52df5f1dddba54bd26923ebad945f1...,2024-03-19,7 days,AQH88NNF8S76MGJL4J4ULEAE18O0KLWH,120,12.0

In [7]:
repayments_df.head()

,date_time,customer_id,amount,rep_month,repayment_type
0,27-JUN-24 07.16.36.000000000 AM,683131338d401fda38410a808797b7706bc3e364d0fe77...,500.65,202406,Automatic
1,27-JUN-24 05.26.50.000000000 PM,56a41251185bd205961556399289804607ccc660392837...,2833.33,202406,Automatic
2,27-JUN-24 06.45.40.000000000 PM,000e57e83f161e4ba6458b3e32c00815405c5a005e652b...,143.98,202406,Automatic
3,27-JUN-24 01.24.57.000000000 PM,f3606d5ac9a89e0251a60d7183a09bc742eba2e36882af...,1000.00,202406,Automatic
4,27-JUN-24 01.31.44.000000000 PM,f3606d5ac9a89e0251a60d7183a09bc742eba2e36882af...,801.00,202406,Manual